---
vagrant: false

# SSH
ssh_port: 12322
ssh_user: ssh_user
ssh_password: null

# Administrator
administrator_email: admin@example.com

# Apache VirtualHost
apache_vhosts:
  - {
    servername: "example.com",
    documentroot: "/var/www/html/example.com",
    serveralias: "www.example.com",
    serveradmin: "root@localhost"
  }

mysql_root_pass: Passw0rd!
