---
# Apache VirtualHost
apache_vhosts:
  - {
    servername: "example.com",
    documentroot: "/var/www/html/example.com",
    serveralias: "www.example.com",
    serveradmin: "root@localhost"
  }

# MySQL
mysql_root_pass: Passw0rd!
